div.main {
  width: 1200px;
  height: 850px;
  margin: auto;
}

div.heading {
  width: 1200px;
  height: 150px;
}

div.pageContent {
  width: 1200px;
  height: 500px;
}

#todoHeading {
  text-align: center;
}

div.content {
  height: 600px;
  width: 300px;
  padding-top: 100px;
  padding-left: 100px;
  float: left;
}

#name {
  width: 100px;
  height: 40px;
  list-style-type: disc;
  position: static;
}

#user {
  position: fixed;
  margin-top: 4%;
  margin-left: 1200px;
}

#addTodo {
  position: fixed;
  font-size: 25px;
  margin-top: 50px;
}

h1 {
  color: orange;
}

#logout {
  position: fixed;
  font-size: 20px;
  margin-left: 1300px;
}

#todoContainer {
  margin-left: 500px;
  margin-top: 200px;
}

.deleteButton {
  position: fixed;
  margin-left: 700px;
  margin-top: 5px;
  height: 3%;
  width: 6%;
  font-size: 15px;
}

.addButton {
  position: fixed;
  margin-left: 200px;
  margin-top: -25px;
  height: 3%;
  width: 5%;
  font-size: 15px;
}

.todoItem {
  position: fixed;
  margin-left: 550px;
  margin-top: 200px;
}

.home {
  position: fixed;
  margin-left: 400px;
  margin-top: 40px;
}

#loginForm {
  margin-top: 200px;
}

.loginDetails {
  font-size: 15px;
  width: 200px;
  height: 20px;
}

#addTodoForm {
  margin-top: 200px;
  margin-left: 35%;
}

.addItems {
  position: fixed;
  margin-left: 30%;
  margin-top: 5%;
}

.editButton {
  position: fixed;
  margin-left: 800px;
  margin-top: 5px;
  height: 3%;
  width: 6%;
  font-size: 15px;
}

.editForm {
  margin-left: 30%;
  margin-top: 2%;
}
