div.main{
  width:1200px;
  height:850px;
  margin: auto;
}
div.heading{
  width:1200px;
  height: 150px;
}
div.pageContent{
  width:1200px;
  height: 500px;
}

#todoHeading{
  text-align: center;
}
div.content{
  height: 600px;
  width: 300px;
  padding-top: 100px;
  padding-left: 100px;
  float: left;
}
#todoImage{
  height: 400px;
  width: 600px;
}
div.comment{
  width:1000px;
  height:600px;
  margin-left: 200px;
  position: relative;
  font-size: 10px;
}

#name{
  width: 100px;
  height: 40px;
  list-style-type: disc;
  position:static;
}
h2{
  color: orange;
  margin-right:200px;
}
div.info{
  width:1000px;
  height:600px;
  margin-left: 200px;
  position: relative;
}

div.book{
  width:1000px;
  height:600px;
  margin-left: 200px;
  position: relative;
}
#comment{
  width:500px;
  align-items: right;
}
#logout{
  position: fixed;
  margin-left: 1500px;
}
#todoContainer{
  margin-left: 700px;
  margin-top: 200px;
}
